<header>
    <span class="links-1">
        <a href="/home">Home</a>
        <a href="/movieCreate">Registrar Pelicula</a>
        <a href="/user/register">Crear  Usuario</a>
        <a href="/user/login">Iniciar Sesion</a>
        <a href="/user/profile">Perfil de Usuario</a>
        </span>
</header>