<header>
    <nav class="nav">
        <a href="/home" class="link">Listado de peliculas</a>
        <% if(locals.userLogged) {%> 
        <% if(locals.userLogged.rol == 1 ) {%> 
        <a href="/movieCreate" class="link">Registrar Pelicula</a>
        <% }} %> 
        <% if(locals.isLogged) { %> 
        <a href="/user/profile" class="link">Perfil de <%= locals.userLogged.name %></a>
        <% } else { %> 
        <a href="/user/register" class="link">Crear  Usuario</a>
        <a href="/user/login" class="link">Iniciar Sesion</a>
        <% } %> 
    </nav>
</header>