<header>
    <span class="links-1">
        <a href="/home">Home</a>
        <% if(locals.userLogged) {%> 
        <% if(locals.userLogged.rol == 1 ) {%> 
        <a href="/movieCreate">Registrar Pelicula</a>
        <% }} %> 
        <% if(locals.isLogged) { %> 
        <a href="/user/profile">Perfil de <%= locals.userLogged.name %></a>
        <% } else { %> 
        <a href="/user/register">Crear  Usuario</a>
        <a href="/user/login">Iniciar Sesion</a>
        <% } %> 
        </span>
</header>