<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Sitio Web</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/nav-var.css">
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <h2>Listado de Peliculas</h2>
    <ul>
        <% for (let i = 0; i < peliculas.length; i++) { %>
        <li>
            <a href="/movieDetail/<%= [i] %> " class="title-movie"><%= peliculas[i].title %> </a>
        </li>
        <% } %> 
    </ul>
    <%- include ('partials/footer.ejs') %>
</body>
</html>