<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Pelicula</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <h2>Seccion de Registro de Pelicula</h2>
    
    <form method="POST" action="/movie/registration">
        <label for="">Nombre Pelicula</label>
        <input type="text" name="nombre">
        <br>
        <label for="">Genero</label>
        <input type="text" name="genero">
        <br>
        <label for="">Actores</label>
        <input type="email" name="Actores">
        <br>
        <input type="submit" value="Registrar">
    </form>

</body>