<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Pelicula</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <h2>Detalle de Pelicula</h2>
    <p>etiqueta de prueba</p>
    <ul>
        <% for (let i = 1; i < generos.length; i++) { %>
        <li>
            <%= generos[i].name %> 
        </li>
        <% } %> 
    </ul>
    <p>Datos</p>
    <p>Genero</p>
    <p>Actores</p>
</body>
</html>
