<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <h2>Seccion de Registro de Usuario</h2>
    
    <form method="POST" action="/user/register">
        <label for="">Nombre</label>
        <input type="text" name="nombre">
        <br>
        <label for="">Edad</label>
        <input type="text" name="edad">
        <br>
        <label for="">E-mail</label>
        <input type="email" name="E-mail">
        <br>
        <input type="submit" value="Registrar">
        <input type="submit" value="Iniciar Sesion" href="/user/userLogin">
    </form>
    <a href="/user/userLogin">Iniciar Sesion</a>

</body>